@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body {
    font-family: "Jaldi";
}

html, body {
    width: 100%;
    height: 100%;
}

#page-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#content-wrap{
    flex-grow: 1;
}

#content-wrap, #footer {
    flex-shrink: 0;
}

.header{
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    padding-right: 0px;
    padding-left: 0px;
}

.header-tel {
    text-align: right;
}

.display-4{
    font-size: 1.5rem;
}

.tel1{
    color: #3d3d3d;
    text-decoration: none;
    font-weight: 600;
}

.tel1:hover{
    color: #3d3d3d;
    text-decoration: none;
}

/* navbar */
.navmenu{
    padding-right: 0px;
    padding-left: 0px;
}
.menu-ht{
    background-color: white;
}
.navbar{
    padding: 0.25rem 0rem 0.03rem 0rem;
}

.logo-nav{
    width: auto;
    max-height: 4rem;
    padding-bottom: 0.15rem;
}

.custom-toggler {
    border: 0px;
    padding: 1rem 1rem 1rem 1.3rem;
    animation-duration: 4px;
}

.custom-toggler:hover {
    border: 0px;
    text-shadow: 0px 4px 3px rgba(255,218,103,0.4),
                 0px 8px 13px rgba(255,218,103,0.1),
                 0px 18px 23px rgba(255,218,103,0.1);
}

/* get rid of the blue border on click!!!??
    .custom-toggler:active{
    border-color: none;
} */

.nav-link{
    font-size: 1.1rem;
    color: #3d3d3d;
    border-bottom: 0.25rem solid white;}

.nav-link:hover{
    color: #3d3d3d;
    text-shadow: 0px 4px 3px rgba(255,218,103,0.8),
                 0px 8px 13px rgba(255,218,103,0.5),
                 0px 18px 23px rgba(255,218,103,0.5);
                 border-bottom: 0.25rem solid #ffda67;

}

.active-nav{
    color: #ffda67;
    background-color: #3d3d3d;
    padding-bottom: 1.26rem;
    border-bottom: 0.25rem solid #ffda67;
}

.active-nav:hover{
    color: #ffda67;
    text-shadow: 0px 4px 3px rgba(255,218,103,0.4),
                 0px 8px 13px rgba(255,218,103,0.1),
                 0px 18px 23px rgba(255,218,103,0.1);
    border-bottom: 0.25rem solid #3d3d3d;
}

.btn-inquiry{
    font-size: 1.1rem;
    color: #3d3d3d;
    background-color: #ffda67;
    border-color: #ffda67;
    margin-left: 0.25rem;
}

.btn-inquiry:hover{
    color: #ffda67;
    background-color: #3d3d3d;
    border-color: #3d3d3d;    
}

.btn:focus, .btn:active, .custom-toggler:focus, .custom-togler:active{
    outline: none;
    box-shadow: none;
}

/* .btn-inquiry-active{
    font-size: 1.1rem;
    color: #ffda67;
    background-color: #3d3d3d;
    border-color: #3d3d3d;    
    margin-bottom: 1.1rem;
    margin-left: 1rem;
}

.btn:disabled {
    opacity: 1;
} */

/* carousel */
.carousel-item-img{
    max-height: 35rem;
    object-fit: cover;
  }
  
.carousel-caption h5{
    font-size: 2rem;
    font-weight: 500;
}

.carousel-caption p{
    font-size: 1.3rem;
}

.fa-caret-right, .fa-caret-left{
    font-size: 2rem;
}

/* call to action */
.call-to-action{
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 0px;
}

/* image menu */
.img-menu{
    align-content: center;
    background: linear-gradient(180deg, #ffffff 11rem, #ffda67 11rem); 
}

/* apparently you don't need this anymore (?), if the image menu acts weird at some point, try turning this back on:
.img-fluid-placeholder{
    overflow: hidden;
} */

.img-fluid-link:hover{
    text-decoration: none;
}

.img-fluid{
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.img-fluid-caption{
    text-align: center;
    margin-top: -0.7rem;
}

.img-menu-caption{
    font-weight: 600;
    background-color: #fff9e6;
    border: 1px solid #3d3d3d;
    border-radius: 0.2rem;
    color: #3d3d3d;
    margin: 0px;
}

/* yellow peninsula */
.yellowPeninsula{
    text-align: center;
    width:100%; 
    height:6.8rem; 
    background: linear-gradient(180deg, #ffda67 10.5px, #3d3d3d 10.5px); 
}

.thePeninsula{
    display: inline-block;
    margin-top: 10px; 
    border-top: 6rem solid #ffda67;
    border-right: 10rem solid #3d3d3d;
    border-left: 10rem solid #3d3d3d;
}

/* famous quote */
.famous-quote{
    background-color: #3d3d3d;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
}

.lead{
    font-size: 1.65rem;
    margin-bottom: 0.1rem;
}

.blockquote-footer{
    color: #737373;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}

.tel2{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.tel2:hover{
    color: white;
    text-decoration: none;
}

/* yellow tape mock */
.yellowTape-wrapper{
    background-color: #3d3d3d;
}

.yellowTape{
    color: #ffda67;
    height: 10px;
    background-image: linear-gradient(-45deg,
      transparent,
      transparent 25%,
      currentColor 25%,
      currentColor 50%,
      transparent 50%,
      transparent 75%,
      currentColor 75%);
    background-size: 10px 10px;
    border: 0rem;
    margin: 0;
}

/* footer */
.signature-wrap{
    background-color: #3d3d3d;
    height: 4.5rem;
}

.signature{
    padding-right: 0px;
    padding-left: 0px;
}

.footer-block{
    width: 13.8rem;
}

.avtorske{
    color: #737373;
    width: 13.8rem;
    text-align: center;
}

.shamshnita, .shamshnita-link{
    color: #737373;
    width: 13.8rem;
    text-align: right;
}

.shamshnita-link:hover{
    text-decoration: none;
    color: #e3e3e3;
}

/* page content */
.content-wrapper{
    background: linear-gradient(180deg, #fffddd, white);
    padding-top: 3rem;
    padding-bottom: 3rem;    
}

.text{
    font-size: 1.2rem;
    color: #3d3d3d;
    text-align: justify;
}

.text-title{
    font-family: 'Pangolin';
    font-size: 2.4rem;
    font-weight: 500;
}

.text-image{
    border-radius: 8px;
    height: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    vertical-align: middle;
}

figcaption{
    color: #737373;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

/* contact card */
.contact-card{
    color: #9e9e9e;
    background-color: #3d3d3d;
    max-width: 23rem;
    max-height: 23.9rem;
}

.card-hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(115, 115, 115, 0),
                                                rgba(115, 115, 115, 0.75),
                                                rgba(115, 115, 115, 0));
}

.card-link {
    color: #e3e3e3;
}

.card-link:hover {
    color: #e3e3e3;
    text-shadow: 0px 4px 3px rgba(255,218,103,0.4), 0px 8px 13px rgba(255,218,103,0.1), 0px 18px 23px rgba(255,218,103,0.1);
}

.card-link+.card-link {
    margin-left: 0rem;
}

/* inquiry form */
.inquiry-form {
    background-color: rgba(255,255,255,0.5);
    border: 1px solid #3d3d3d;
    border-radius: 0.5rem 5rem 3rem;
    box-shadow: 30px 25px 30px rgba(61, 61, 61, 0.4),
                35px 35px 13px rgba(61, 61, 61, 0.2),
                40px 35px 23px rgba(61, 61, 61, 0.1);
}

